:root {
    --heavy-font-size: 5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --heavy-font-weigth: 700;
    --body-font-weight: 400;

}

@media screen and (max-width: 750px) {
    :root {
        --heavy-font-size: 3rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1rem;
    }
}

:root {
    --dark-color: #0c4a6e;
    --dark-gray: #6b7280;
    --off-white: #e2e8f0;
}

hr {
    margin: 0rem 0rem;
    border-style: hidden;
}

.bd-grid {
    max-width: 600px;

}

body {
    margin: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: var(--body-font-weight);
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

.heading-main {
    display: block;
    font-family: inherit;
    font-weight: var(--heavy-font-weigth);
    line-height: 1.2;
}



.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-style-inline {
    display: inline;
    padding: 0.5rem;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0rem 0.8rem;
}

.navigation {
    box-shadow: 10px 20px 15px rgba(16, 17, 17, 0.233);
    background-color: var(--dark-color);
    color: white;
    width: 100%;
    position: fixed;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    top: 0;left: 0;
    height: 6.1rem;
    padding-inline-start: 0px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.navigation .nav-brand {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0.6rem;
    margin-left: 2.5rem;


}

.navigation .nav-pills {
    text-align: right;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-inline-start: 0px;
    margin-block-start: 0.2em;
    margin-block-end: 0em;

}

.navigation .active-link {
    font-weight: bold;
}

.header {
    padding-top: 4rem;
    display: grid;
}

.header .home-title {
    padding-top: 3rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-size: var(--heavy-font-size);
    font-family: poppins;
    font-weight: var(--heavy-font-weigth);
    color: var(--dark-gray);
    text-align: left;


}

.header .heading-highlighted {
    color: var(--dark-color);
}

header .header-image {
    float: right;
    width: 497px;
    margin: auto;
    padding-top: 3rem;
    margin-top: 2rem;
    padding-right: 16rem;
    padding-bottom: 17rem;

}

.section {
    text-align: left;
    padding: 2rem;
    padding-bottom: 0rem;
}

.section-about {
    padding-top: 1rem;
    margin-top: 1rem;
}

.button {
    background-color: var(--dark-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    text-decoration: none;
    display: inline;
    text-align: left;
    margin: 4.5rem;
}

.social_img {
    max-width: 2rem;
    max-height: 2rem;
}

.social_list {
    padding: 2rem;
    list-style: none;
    text-align: left;
    margin: 2rem 2rem 8rem 2rem;

}

.section-title {
    font-family: var(--font-family);
    font-weight: bolder;
    font-size: var(--heavy-font-size);
    color: var(--dark-color);
    text-align: left;
    padding: 1rem;
    margin-right: auto;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.border-bottom {
    border-bottom-width: 2px;
    border-color: var(--off-white);
    border-bottom-style: ridge;
}

.sub-heading {
    font-size: var(--h1-font-size);
    font-size: var(--h1-font-size);
    margin-bottom: 0rem;
    padding-right: 8rem;
    padding-left: 11rem;
    color: var(--dark-color);
}

/* .p-content{
    font-size: 1.5rem;
    text-align: justify;
    max-width: 46%;
    margin: auto;
    display: flex;
    padding-bottom: 2rem;
} */

.p-content {
    font-size: 1.4rem;
    text-align: justify;
    /* max-width: 47%; */
    /* margin: auto; */
    padding-left: 0rem;
    /* display: flex; */
    /* padding-bottom: 0rem; */
    margin-right: 10rem;
    margin-left: 13rem;
}

.container {}

.container-center {
    /* max-width: 600px; */
    /* margin: auto; */
    /** will make it center**/
    text-align: center;
}


.about-img {
    float: left;
    margin-top: 2rem;
    margin-right: 7rem;
    margin-left: 13rem;
    margin-bottom: 4rem;
    height: 650px;
    border-style: groove;
    border-color: darkgray;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.underline {
    color: var(--dark-color);
    display: contents;
    font-weight: var(--heavy-font-weigth);

}

.visit-link {
    text-decoration: none;
    color: var(--dark-gray);
    height: 1rem;
}

.mail {
    color: var(--dark-color);

    font-weight: var(--heavy-font-weigth);
}

.about-img h2,
h3,
h4 {
    text-align: left;
    margin: auto;
    margin-left: 1rem;
    padding: auto;
}

/* @media screen and (max-width: 480px){
    .section-about{
      margin-left: auto;
      margin-right: auto;
    }
    .about-img{
      right: 10%;
    }
    .p-content{
        margin: auto;
    } */


@media screen and (max-width: 800px) {
    .section {
        margin: auto;
    }

    .responsive {
        width: 300px;
        height: auto;
    }

    .header .home-title {
        font-size: var(--heavy-font-size);
    }

    .header .header-image {
        margin-left: 3rem;
        padding-bottom: 1rem;

    }

    .about-img {
        margin-left: 10rem;
        float: left;
        margin-top: 2rem;
        margin-right: 7rem;
        margin-left: 3rem;
        margin-bottom: 4rem;
        height: auto;
        border-style: groove;
        border-color: darkgray;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

    }

    .sub-heading {
        padding-right: 0rem;
        padding-left: 2rem;
        margin-left: 0rem;
        font-size: 35px;
        margin-bottom: 1.2rem;
    }

    .p-content {
        padding-left: 0rem;
        margin: auto;
        margin-bottom: 1.2rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .section {
        margin: auto;
    }

    .header .home-title {
        font-size: 2rem;
    }

    .header .header-image {
        margin-left: 3rem;
    }

    .about-img {
        margin-left: 7rem;
    }

    .sub-heading {
        padding-right: 0rem;
        padding-left: 6rem;
        margin-left: 1rem;
        font-size: 32px;
        margin-bottom: 1.2rem;
        margin-right: -16rem;
    }

    .p-content {
        margin-left: 2rem;
        margin-right: -20rem;
        padding-left: 2rem;
        justify-content: space-evenly;
        margin-bottom: 1.2rem;
        padding-right: 0rem;
    }

}



.footer {
    background-color: var(--dark-gray);
    padding: 1rem;
    text-align: center;
    color: white;
    width: 100%;
    height: 5rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-block: -1rem;
    bottom: 0rem;



}

.footer .link {
    color: white;
}

.footer .ul {
    padding-inline-start: 0px;

}

.footer-header {
    font-weight: var(--heavy-font-weigth);
    font-size: 1rem;
    text-align: center;
    font-family: poppins;

}

.footer-social-list {

    list-style: none;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

